@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.attributes {
  width: 100%;
  margin-top: 94px;
}

.attributes__items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 0 15px;
}

.attributes__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attributes__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.attributes__icon-svg {
  width: 70px;
  height: 70px;
}

.attributes__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.attributes__desc {
  display: flex;
  text-align: justify;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .attributes__items {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .attributes__item {
    min-width: 450px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .attributes__items {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .attributes__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .attributes__title {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .attributes__items {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .attributes__item {
    max-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .attributes__title {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activities__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .activities__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 15px;
  }
  .activities__item {
    position: relative;
    width: 370px;
    height: 294px;
    background-size: 370px 294px;
    background-color: #fff;
  }
  .activities__item--first-image {
    background-image: url(../images/programer-working-his-desk-office_370-294.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .activities__item--first-image {
    background-image: url(../images/programer-working-his-desk-office_740-588.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .activities__item--second-image {
    background-image: url(../images/team-creators-is-working-interface-mobile-phones_370x294.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .activities__item--first-image {
    background-image: url(../images/team-creators-is-working-interface-mobile-phones_740-588.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .activities__item--third-image {
    background-image: url(../images/creative-artist-web-design-with-working-colour-selection-graphic-tablet_370-294.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .activities__item--first-image {
    background-image: url(../images/creative-artist-web-design-with-working-colour-selection-graphic-tablet_740-588.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .activities__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    bottom: 0px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .activities__desc {
    position: absolute;
    color: #fff;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-direction: nowrap;
    justify-content: center;
    text-align: center;
  }
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

h2,
h4,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

@media only screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */